<section ng-controller="loginCtrll">
	<h1>Login Firebase CMS</h1>

	<div ng-if="authError" class="alert alert-danger">{{authError}}</div>

	<form ng-model="loginForm">
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="loginEmail">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="loginPassword">
	  </div>
	  <button type="submit" class="btn btn-default" ng-click="login()">Send</button>
	</form>
</section>