<section ng-controller="pageListCtrll">
    <h1>{{categoria.nome}}</h1>
    <p>Listagem de páginas da categoria, só acontece quando a categoria tem várias páginas associadas.</p>

    <div ng-repeat="pagina in paginas track by pagina.$id" style="clear:both;">
    	<a href="#/{{pagina.slug}}">
    		<div class="thumbnail" ng-if="pagina.image" style="float:left;margin-right:15px;"><img src="{{pagina.image}}" width="100" /></div>
    	</a>
    	<h3><a href="#/{{pagina.slug}}">{{pagina.titulo}}</a></h3>
    	<p>{{pagina.descricao}}</p>
    </div>
</section>